.mainContainer {
    display: flex;
    justify-content: space-between;
    .productList {
        width: 100%;
        .infoBlock {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .productAppender {
                display: flex;
                flex-direction: column;
                width: 10%;
                align-items: center;
                .valuesInput {
                    display: flex;
                    align-items: center;
                    .currency {
                        width: 100%;
                    }
                }
            }
            .converter {
                display: flex;
                align-items: center;
            }
        }
    }
}